body {
    margin: 20px;
}

h1 {
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
    padding : 10px;
    background-color: rgb(91, 91, 218);
    color : white
}


#seats ul {
    list-style-type:none;
}

#gridseatinfo {
    text-align:center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border:1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

#window {
    text-align:center;
    border:1px solid gray;
    background-color: gray;
    margin: 15px;
    margin-bottom: 0px;
}

#gridmap {
    display: grid;
    grid-template-columns: 50px 1fr;
}

#studyroom {
    writing-mode:vertical-lr;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left:20px;
    padding-right:20px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top:20px;
    background-color: gray;
    border: 0px;
}
#seats{
    display:grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
}
#gridstateseat {
    margin-top: 20px;
    border-radius: 10px;
    display: grid;
    text-align: center;
    border:1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
}

#seatinfo{
    text-align: center;
    border-right:1px solid black;
    border-radius: 10px;
    margin:0px;
    padding-top:15px;
    color: white;
    background-color: gray;
}
.seat {
    border: 1px solid gray;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: gray;
    margin: 5px;
    margin-top: 25px;
    margin-bottom:  25px;
}

#backmap {
    background-color:rgb(96, 96, 96); 
    padding-top:5px;
}
.seatbutton {
    padding-left: 45px;
    padding-right:45px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: gray;
    border:0px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom:  25px;

}

.buttongrid{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr ;
}

.usingseat {
    background-color: red;
    padding-left: 45px;
    padding-right:45px;
    padding-top: 25px;
    padding-bottom: 25px;
    border:0px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom:  25px;
}
.emptyseat {
    background-color: greenyellow;
    padding-left: 45px;
    padding-right:45px;
    padding-top: 25px;
    padding-bottom: 25px;
    border:0px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom:  25px;
}

.helpseat {
    background-color: yellow;
    padding-left: 45px;
    padding-right:45px;
    padding-top: 25px;
    padding-bottom: 25px;
    border:0px;
    margin: 5px;
    margin-top: 25px;
    margin-bottom:  25px;
}